"*":
  core:
    disabledPackages: [
      "package-that-throws-an-exception"
      "package-with-broken-package-json"
      "package-with-broken-keymap"
      "wrap-guide"
      "emmet"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 21
    lineHeight: 1.2
    showIndentGuide: true
    invisibles: {}
    scrollPastEnd: true
  "livescript-compile":
    focusEditorAfterCompile: true
  "language-babel":
    suppressTranspileOnSaveMessages: true
  welcome:
    showOnStartup: false
  "webbox-color":
    fillColorAsBackground: false
  minimap:
    displayPluginsControls: false
  tabs:
    usePreviewTabs: true
  "git-diff":
    showIconsInEditorGutter: true
  "tree-view":
    hideIgnoredNames: true
  whitespace:
    ensureSingleTrailingNewline: false
  "linter-eslint":
    globalNodePath: "/usr/local/Cellar/nvm/0.24.0/versions/io.js/v2.3.3"
    useGlobalEslint: true
  'linter-lsc':
    'lscExecutablePath': "/usr/local/opt/nvm/versions/io.js/v2.3.3/bin/lsc"
