"*":
  core:
    disabledPackages: [
      "language-gfm"
    ]
    projectHome: "/Users/jhen/workspace"
    telemetryConsent: "no"
    themes: [
      "spacegray-dark-ui"
      "spacegray-atom-dark-syntax"
    ]
    titleBar: "custom"
  editor:
    fontSize: 16
    invisibles: {}
    lineHeight: 1.6
    scrollPastEnd: true
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "a44888c0-592a-47b7-80f3-0e9a350acbaa"
  linter: {}
  "linter-ui-default":
    panelHeight: 95
    showPanel: true
  "markdown-preview": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierEslintOptions: {}
    prettierOptions:
      semi: false
      singleQuote: true
      trailingComma: "all"
    useEslint: true
  welcome:
    showOnStartup: false
